.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile__container {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}
.profile__avatar {
  width: 120px;
  height: 120px;
}

.profile__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 77px;
  width: 100%;
}

.profile__info {
  display: flex;
  align-items: center;
  gap: 18px;
  max-height: 39px;
  width: 100%;
}

.profile__name-text {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  max-width: 373px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__about-text {
  font-size: 18px;
  line-height: 21.78px;
  max-width: 415px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .profile {
    flex-direction: column;
    margin: auto;
    width: 282px;
    justify-content: center;
    gap: 36px;
  }
  .profile__container {
    flex-direction: column;
    gap: 26.25px;
  }
  .profile__description {
    gap: 14px;
    text-align: center;
    align-items: center;
  }
  .profile__info {
    display: flex;
    gap: 0;
    justify-content: space-between;
    max-width: 224px;
    align-items: center;
  }
  .profile__name-text {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    max-width: 373px;
  }

  .profile__about-text {
    font-size: 14px;
    line-height: 21.7817px;
  }
}
