.button {
  background-color: #000000;
  border-style: none;
  border: 1px solid #fff;
}

.button_type_edit {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.button_type_add {
  width: 150px;
  height: 50px;
}

.button_type_like {
  background-color: #fff;
  max-width: 21px;
  display: flex;
  justify-content: center;
}

.button_close {
  border: none;
  margin: auto;
  background-color: transparent;
  position: absolute;
  top: -36px;
  right: -36px;
}

.button_save {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  border-radius: 2px;
  height: 50.2px;
}
